<footer id="footer" class="footer light-background">
  <div class="container">
    <div class="copyright text-center">
      <p>
        © <span>Copyright</span>
        <strong class="px-1 sitename">furnzero</strong>
        <span>All Rights Reserved</span>
      </p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href="https://www.linkedin.com/company/furnzero/"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="credits">Copyright FurnZero 2024</div>
  </div>
</footer>