---
const { activeLink } = Astro.props;
---

<header id="header" class="header d-flex align-items-center sticky-top">
	<div
		class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
	>
		<a href="index.html" class="logo sitename d-flex align-items-center">
			<!-- Uncomment the line below if you also wish to use an image logo -->
			<!-- <img src="/assets/img/logo.png" alt=""> -->
			<span>Furn</span>Zero
		</a>

		<nav id="navmenu" class="navmenu">
			<ul>
				<li>
					<a href="/" class={activeLink === "home" ? "active" : ""}>Home</a>
				</li>
				<li><a href="/#about">About</a></li>
				<li><a href="/#services">Services</a></li>
				<li><a href="/#process">Process</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li>
					<a href="/blog" class={activeLink === "blog" ? "active" : ""}>Blog</a>
				</li>
			</ul>
			<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
		</nav>
	</div>
</header>

<style>
	.sitename {
		font-size: 30px;
		font-weight: 700;
		color: var(--heading-color);
	}

	.sitename span {
		color: var(--accent-color);
	}
</style>
